h2 span{
    background-color: grey;
    }
h1 {
    color: blue;
}
img {
    width: 300px
}
label {
   display: block; 
}
textarea {
    display: block; 
    width: 300px
 }
 button {
     margin-left: 250px
 }